<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="robots" content="index,follow">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/css/debhome.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/css/deb-raspi.css">
    <link rel="Index" href="/">
  </head>

  <body  lang="en" dir="ltr">
    <div id="header">
      <div id="upperheader">
	<div id="logo"><a href="https://www.debian.org" title="Debian Homepage"><img src="/Pics/openlogo-50.png" alt="Debian" width="50" height="61"></a></div>
      </div>
      <div id="navbar">
	<ul>
	  <li><a href="/"> Raspberry Pi Debian images</a></li>
	  <li><a href="/tested-images"> <b>Download tested images</b> </a></li>
	  <li><a href="https://www.debian.org/">Main Debian page</a></li>
	  <li><a href="https://www.debian.org/intro/about">About
	      Debian</a></li>
	  <li><a href="https://www.raspberrypi.org/">Raspberry Pi</a></li>
      </div>
    </div>
    <div id="content">
      <h1 id="locationline">
	{{ page.title }}
      </h1>

      {{ content }}

      <div id="footer">
	{% if page.date %}
	<div class="lastmodif">This page was last modified on
	  <span class="date">{{page.date | date: "%Y-%m-%d %T %z" }}
	</span></div>
	  {% endif %}
	<p>This site is not an official Debian project. While the
	  maintainer (Gunnar Wolf) is
	  a <a href="https://wiki.debian.org/DebianDeveloper">Debian
	  Developer</a>, content herein provided should be considered
	  unofficial. Web site source code is 
	  <a href="https://salsa.debian.org/raspi-team/web-raspi-img/">available</a>.</p>
	<p>This site is not affiliated in any way with the Raspberry
	  Pi foundation or any of its projects.</p>
	<div class="license"><a href="https://creativecommons.org/licenses/by/4.0/">
	    <img src="/Pics/cc-by-88x31.png" width="88" height="31" /></a><br/>
	  Content in this site is licensed under
	the <a href="https://creativecommons.org/licenses/by/4.0/">Creative
	Commons BY 4.0 license</a>.</p>
	</ul>
      </div>
  </body>
</html>

